*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    background-color: white;
    width: 1000px;
    margin: 14% auto;
    height: 50vh;
    border-radius: 20%;
}
.summary{
    /* background-color: blueviolet; */
    background-color: white;
    width: 50%;
    text-align: center;
    border-radius: 20px;
}
.your-result{
    /* background-color: darkkhaki; */
    width: 50%;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(180deg,hsl(252, 100%, 67%),hsl(241, 81%, 54%));

}
body{
    background-color: grey;
}
